.citizen-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }
  
  .column {
    flex: 1;
    text-align: center;
  }
  
  .column.no {
    flex: 0.5;
  }
  
  .column.name {
    flex: 2;
  }
  
  .column.age {
    flex: 1;
  }
  
  .column.address {
    flex: 3;
  }
  
  .column.status {
    flex: 1;
  }
  
  .column.toggle {
    flex: 1;
  }
  